@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --foreground-rgb: #f9eeff;
}

* {
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: var(--foreground-rgb);
  height: 100vh;
  position: relative;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--foreground-rgb);
}

::-webkit-scrollbar-thumb {
  background: #ad28eb;
}

*:focus-visible {
  outline: 2px solid #ad28eb;
}

.answer {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s;
}

.answer[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

.answer > div {
  overflow: hidden;
}
